.navbar {
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    background: aquamarine;
}

.navbar>a {
    padding: 0 15px;
    text-decoration: none;
    display: flex;
    height: 100%;
    align-items: center;
}

.navbar>a:hover {
    background: lightgray;
}
